.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--post-description);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gorizontal {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.small {
    object-fit: scale-down;
    overflow: hidden;

}

.big {
    object-fit: cover;
    overflow: hidden;
}

.small:hover {
    opacity: 80%;
}

.big:hover {
    opacity: 80%;
}

@media (max-width: 1200px) {
    .gorizontal {
        flex-direction: column;
        align-items: start;
    }
}




